.header-bg {
    height: 32px;
    background-color: antiquewhite;
    /* display: block; */
}

.show {}

@media screen and (max-width:768px) {
    .show {
        display: none;
        /* clear: both; */
    }

    /* .header-bg {
        display: none;
    } */
}